{
  "defaultConfig":{
    "buildType":"develop",
    "api":"CoreEngine",
    "libraryDir":"development/lib/",
    "behaviorPacksDir":"development/addon/behavior_packs/",
    "resourcePacksDir":"development/addon/resource_packs/"
  },
  "resources":[
    {
      "path":"development/assets/",
      "resourceType":"resource"
    },
    {
      "path":"development/assets/gui/",
      "resourceType":"gui"
    }
  ],
  "buildDirs":[
    {
      "dir":"development/code/",
      "targetSource":"main.js"
    }
  ],
  "compile":[
    {
      "path":"main.js",
      "sourceType":"mod"
    },
    {
      "path":"launcher.js",
      "sourceType":"launcher"
    }
  ],
  "nativeDirs":[],
  "javaDirs":[]
}