{
  "defaultConfig":{
    "buildType":"release",
    "api":"CoreEngine",
    "libraryDir":"lib/"
  },
  "buildDirs":[],
  "compile":[
    {
      "path":"script/blocks/ferramentas/crafttable.js",
      "sourceType":"mod"
    },
    {
      "path":"script/tools.js",
      "sourceType":"mod"
    },
    {
      "path":"script/blocks/mobiliario.js",
      "sourceType":"mod"
    },
    {
      "path":"script/Função/Funciones.js",
      "sourceType":"mod"
    },
    {
      "path":"script/blocks/ferramentas/fornalhas.js",
      "sourceType":"mod"
    },
    {
      "path":"script/blocks/ferramentas/machines_mod.js",
      "sourceType":"mod"
    },
    {
      "path":"script/ExtraMod.js",
      "sourceType":"mod"
    },
    {
      "path":"launcher.js",
      "sourceType":"launcher"
    }
  ],
  "resources":[
    {
      "path":"res/",
      "resourceType":"resource"
    },
    {
      "path":"gui/",
      "resourceType":"gui"
    }
  ],
  "nativeDirs":[],
  "javaDirs":[]
}