{
  "defaultConfig":{
    "readme":"this build config is generated automatically by mod development toolchain",
    "api":"CoreEngine",
    "buildType":"develop"
  },
  "buildDirs":[],
  "compile":[
    {
      "path":"source/main.js",
      "sourceType":"mod"
    },
    {
      "path":"source/launcher.js",
      "sourceType":"launcher"
    },
    {
      "path":"library/RegionGuard.js",
      "sourceType":"library"
    }
  ],
  "resources":[],
  "nativeDirs":[],
  "javaDirs":[]
}