{
  "defaultConfig":{
    "api":"CoreEngine",
    "buildType":"release",
    "resourcePacksDir":"resource_packs/"
  },
  "compile":[
    {
      "path":"main.js",
      "sourceType":"mod"
    },
    {
      "path":"launcher.js",
      "sourceType":"launcher"
    }
  ],
  "resources":[],
  "buildDirs":[],
  "nativeDirs":[],
  "javaDirs":[]
}