{
  "defaultConfig":{
    "api":"CoreEngine",
    "buildType":"release"
  },
  "compile":[
    {
      "path":"launcher.js",
      "sourceType":"launcher"
    },
    {
      "path":"main.js",
      "sourceType":"mod"
    }
  ],
  "buildDirs":[
    {
      "dir":"indev/",
      "targetSource":"main.js"
    }
  ],
  "resources":[
    {
      "path":"resources/",
      "resourceType":"resource"
    }
  ],
  "javaDirs":[],
  "nativeDirs":[]
}