{
  "defaultConfig":{
    "api":"CoreEngine",
    "buildType":"develop",
    "libraryDir":"lib/"
  },
  "buildDirs":[
    {
      "dir":"dev/",
      "targetSource":"xlfood.js"
    }
  ],
  "compile":[
    {
      "path":"xlfood.js",
      "sourceType":"mod"
    },
    {
      "path":"launcher.js",
      "sourceType":"launcher"
    }
  ],
  "resources":[
    {
      "path":"assets/xlfoodmod/",
      "resourceType":"resource"
    },
    {
      "path":"assets/xlfoodmod/gui/",
      "resourceType":"gui"
    }
  ],
  "nativeDirs":[],
  "javaDirs":[]
}