{
  "resources":[
    {
      "path":"assets/res/",
      "resourceType":"resource"
    },
    {
      "path":"assets/gui/",
      "resourceType":"gui"
    }
  ],
  "defaultConfig":{
    "buildType":"develop",
    "api":"CoreEngine",
    "libraryDir":"lib/",
    "resourcePacksDir":"minecraft_packs/resource",
    "behaviorPacksDir":"minecraft_packs/behavior"
  },
  "buildDirs":[
    {
      "targetSource":"main.js",
      "dir":"dev/"
    }
  ],
  "compile":[
    {
      "path":"main.js",
      "sourceType":"mod"
    },
    {
      "path":"launcher.js",
      "sourceType":"launcher"
    }
  ],
  "nativeDirs":[
    {
      "path":"native/scales"
    }
  ],
  "javaDirs":[
    {
      "path":"java/scales"
    }
  ]
}