{
  "defaultConfig":{
    "api":"CoreEngine",
    "buildType":"develop",
    "libraryDir":"lib/"
  },
  "buildDirs":[
    {
      "dir":"dev/",
      "targetSource":"main.js"
    }
  ],
  "compile":[
    {
      "path":"main.js",
      "sourceType":"mod"
    },
    {
      "path":"launcher.js",
      "sourceType":"launcher"
    }
  ],
  "resources":[
    {
      "path":"textures/",
      "resourceType":"resource"
    },
    {
      "path":"textures/gui/",
      "resourceType":"gui"
    }
  ],
  "nativeDirs":[],
  "javaDirs":[]
}