{
  "defaultConfig":{
    "api":"CoreEngine",
    "buildType":"develop",
    "libraryDir":"lib/"
  },
  "buildDirs":[],
  "compile":[
    {
      "path":".source/main.js",
      "sourceType":"mod"
    },
    {
      "path":".source/launcher.js",
      "sourceType":"launcher"
    }
  ],
  "resources":[
    {
      "path":".source/res/",
      "resourceType":"resource"
    }
  ],
  "nativeDirs":[],
  "javaDirs":[]
}