{
  "defaultConfig":{
    "buildType":"release",
    "api":"CoreEngine",
    "libraryDir":"src/lib/"
  },
  "resources":[
    {
      "path":"assets/textures/",
      "resourceType":"resource"
    },
    {
      "path":"assets/gui/",
      "resourceType":"gui"
    }
  ],
  "buildDirs":[
    {
      "dir":"src/",
      "targetSource":"main.js"
    }
  ],
  "compile":[
    {
      "path":"main.js",
      "sourceType":"mod"
    },
    {
      "path":"launcher.js",
      "sourceType":"launcher"
    }
  ],
  "nativeDirs":[],
  "javaDirs":[]
}