{
  "defaultConfig":{
    "api":"CoreEngine",
    "buildType":"develop"
  },
  "compile":[
    {
      "path":"source/main.js",
      "sourceType":"mod"
    },
    {
      "path":"source/launcher.js",
      "sourceType":"launcher"
    }
  ],
  "resources":[
    {
      "path":"assets/",
      "resourceType":"resource"
    }
  ],
  "buildDirs":[],
  "nativeDirs":[],
  "javaDirs":[]
}