{
  "defaultConfig":{
    "buildType":"develop",
    "api":"CoreEngine",
    "libraryDir":"libs/",
    "behaviorPacksDir":"assets/minecraft_packs/behavior_packs/",
    "resourcePacksDir":"assets/minecraft_packs/resource_packs/"
  },
  "resources":[
    {
      "path":"assets/textures/",
      "resourceType":"resource"
    },
    {
      "path":"assets/textures/gui/",
      "resourceType":"gui"
    }
  ],
  "buildDirs":[
    {
      "dir":"dev/",
      "targetSource":"main.js"
    }
  ],
  "compile":[
    {
      "path":"main.js",
      "sourceType":"mod"
    },
    {
      "path":"launcher.js",
      "sourceType":"launcher"
    }
  ],
  "nativeDirs":[],
  "javaDirs":[]
}