{
  "defaultConfig":{
    "api":"CoreEngine",
    "buildType":"develop"
  },
  "buildDirs":[
    {
      "dir":"core/script/",
      "targetSource":"main.js"
    }
  ],
  "compile":[
    {
      "path":"source/main.js",
      "sourceType":"mod"
    },
    {
      "path":"source/launcher.js",
      "sourceType":"launcher"
    }
  ],
  "resources":[
    {
      "path":"assets/",
      "resourceType":"resource"
    },
    {
      "path":"assets/gui/",
      "resourceType":"gui"
    }
  ],
  "nativeDirs":[],
  "javaDirs":[]
}