{
  "defaultConfig":{
    "api":"CoreEngine",
    "buildType":"develop",
    "libraryDir":"library/"
  },
  "buildDirs":[
    {
      "dir":"script/",
      "targetSource":"main.js"
    }
  ],
  "compile":[
    {
      "path":"launcher.js",
      "sourceType":"launcher"
    },
    {
      "path":"main.js",
      "sourceType":"mod"
    }
  ],
  "resources":[
    {
      "path":"resources/",
      "resourceType":"resource"
    },
    {
      "path":"gui/",
      "resourceType":"gui"
    }
  ],
  "nativeDirs":[],
  "javaDirs":[]
}