{
  "defaultConfig":{
    "readme":"this build config is generated automatically by mod development toolchain",
    "api":"CoreEngine",
    "buildType":"release"
  },
  "buildDirs":[],
  "compile":[
    {
      "path":"source/launcher.js",
      "sourceType":"launcher"
    },
    {
      "path":"source/preloader.js",
      "sourceType":"preloader"
    }
  ],
  "resources":[],
  "nativeDirs":[
    {
      "path":"native/native"
    }
  ],
  "javaDirs":[
    {
      "path":"java/java"
    }
  ]
}