{
  "resources":[
    {
      "path":"Source/Minecraft/assets",
      "resourceType":"resource"
    },
    {
      "path":"Source/Minecraft/gui",
      "resourceType":"gui"
    }
  ],
  "defaultConfig":{
    "buildType":"develop",
    "api":"CoreEngine",
    "libraryDir":"Source/Library/",
    "resourcePacksDir":"Source/Minecraft/assets/packs/resources/",
    "behaviorPacksDir":"Source/Minecraft/assets/packs/behavior/"
  },
  "buildDirs":[
    {
      "targetSource":"Main Source/main.js",
      "dir":"Source/Dev/"
    }
  ],
  "compile":[
    {
      "path":"Main Source/main.js",
      "sourceType":"mod"
    },
    {
      "path":"Main Source/launcher.js",
      "sourceType":"launcher"
    }
  ],
  "nativeDirs":[],
  "javaDirs":[]
}