{
  "defaultConfig":{
    "buildType":"develop",
    "api":"CoreEngine",
    "libraryDir":"lib/",
    "resourcePacksDir":"res_pack/",
    "behaviorPacksDir":"beh_pack/"
  },
  "resources":[
    {
      "path":"assets/",
      "resourceType":"resource"
    },
    {
      "path":"gui/",
      "resourceType":"gui"
    }
  ],
  "buildDirs":[
    {
      "dir":"dev/",
      "targetSource":"main.js"
    }
  ],
  "compile":[
    {
      "path":"main.js",
      "sourceType":"mod"
    },
    {
      "path":"launcher.js",
      "sourceType":"launcher"
    }
  ],
  "nativeDirs":[
    {
      "path":"src"
    }
  ],
  "javaDirs":[
   {
     "path":"java"
    }
   ]