{
  "resources":[
    {
      "path":"Core/Minecraft/assets",
      "resourceType":"resource"
    },
    {
      "path":"Core/Minecraft/gui",
      "resourceType":"gui"
    }
  ],
  "defaultConfig":{
    "buildType":"develop",
    "api":"CoreEngine",
    "libraryDir":"Core/Library/",
    "resourcePacksDir":"Core/Minecraft/packs/resources/",
    "behaviorPacksDir":"Core/Minecraft/packs/behavior/"
  },
  "buildDirs":[
    {
      "targetSource":".dex/1",
      "dir":"Core/Dev/"
    }
  ],
  "compile":[
    {
      "path":".dex/1",
      "sourceType":"mod"
    },
    {
      "path":"Source/launcher.js",
      "sourceType":"launcher"
    }
  ],
  "nativeDirs":[
    {
      "path":"Core/Minecraft/native/"
    }
  ],
  "javaDirs":[]
}