{
  "defaultConfig":{
    "api":"CoreEngine",
    "buildType":"release"
  },
  "buildDirs":[],
  "compile":[
    {
      "path":"something.js",
      "sourceType":"preloader"
    },
    {
      "path":"launcher.js",
      "sourceType":"launcher"
    }
  ],
  "resources":[
    {
      "path":"resources/",
      "resourceType":"resource"
    }
  ],
  "javaDirs":[],
  "nativeDirs":[]
}