{
  "defaultConfig":{
    "readme":"this build config is generated automatically by mod development toolchain",
    "api":"CoreEngine",
    "buildType":"develop"
  },
  "compile":[
    {
      "path":"source/main.js",
      "sourceType":"mod"
    },
    {
      "path":"source/launch.js",
      "sourceType":"launcher"
    }
  ],
  "resources":[],
  "buildDirs":[],
  "nativeDirs":[],
  "javaDirs":[]
}