{
  "defaultConfig":{
    "api":"CoreEngine",
    "buildType":"develop",
    "libraryDir":"api/"
  },
  "compile":[
    {
      "path":"main/mod.js",
      "sourceType":"mod"
    },
    {
      "path":"main/launcher.js",
      "sourceType":"launcher"
    }
  ],
  "resources":[
    {
      "path":"main/tex",
      "resourceType":"resource"
    },
    {
      "path":"main/gui",
      "resourceType":"gui"
    }
  ],
  "nativeDirs":[],
  "javaDirs":[],
  "buildDirs":[]
}