{
  "buildDirs":[],
  "nativeDirs":[],
  "compile":[
    {
      "path":"source/main.js",
      "sourceType":"mod"
    },
    {
      "path":"source/launcher.js",
      "sourceType":"launcher"
    },
    {
      "path":"library/ParticlesCore.js",
      "sourceType":"library"
    },
    {
      "path":"library/RenderUtil.js",
      "sourceType":"library"
    }
  ],
  "javaDirs":[],
  "defaultConfig":{
    "buildType":"develop",
    "readme":"this build config is generated automatically by mod development toolchain",
    "api":"CoreEngine"
  },
  "resources":[
    {
      "path":"resources/res",
      "resourceType":"resource"
    }
  ]
}