{
  "resources":[
    {
      "path":"drimages/",
      "resourceType":"resource"
    },
    {
      "path":"ImageHelper/",
      "resourceType":"resource"
    }
  ],
  "defaultConfig":{
    "buildType":"develop",
    "api":"CoreEngine",
    "libraryDir":"bioblet/"
  },
  "buildDirs":[
    {
      "targetSource":"Divinerpg.js"
    }
  ],
  "compile":[
    {
      "path":"Divinerpg.js",
      "sourceType":"mod"
    },
    {
      "path":"inner.js",
      "sourceType":"launcher"
    }
  ],
  "nativeDirs":[],
  "javaDirs":[]
}