{
  "defaultConfig":{
    "api":"CoreEngine",
    "buildType":"develop",
    "libraryDir":"assets/lib/"
  },
  "buildDirs":[
    {
      "dir":"build/",
      "targetSource":"main.script"
    }
  ],
  "compile":[
    {
      "path":"main.script",
      "sourceType":"mod"
    },
    {
      "path":"launcher.script",
      "sourceType":"launcher"
    }
  ],
  "resources":[
    {
      "path":"assets/textures/",
      "resourceType":"resource"
    },
    {
      "path":"assets/gui/",
      "resourceType":"gui"
    }
  ],
  "nativeDirs":[],
  "javaDirs":[]
}