{
  "defaultConfig":{
    "buildType":"release",
    "api":"CoreEngine",
    "libraryDir":"lib/"
  },
  "resources":[
    {
      "path":"RuneRes/",
      "resourceType":"resource"
    },
    {
      "path":"gui/",
      "resourceType":"gui"
    }
  ],
  "buildDirs":[
    {
      "dir":"dev/",
      "targetSource":"RuneMain.js"
    }
  ],
  "compile":[
    {
      "path":"RuneMain.js",
      "sourceType":"mod"
    },
    {
      "path":"launcher.js",
      "sourceType":"launcher"
    }
  ],
  "nativeDirs":[],
  "javaDirs":[]
}