{
  "defaultConfig":{
    "buildType":"develop",
    "api":"CoreEngine",
    "libraryDir":"library/",
    "resourcePacksDir":"minecraft_packs/resource",
    "behaviorPacksDir":"minecraft_packs/behavior"
  },
  "resources":[
    {
      "path":"assets/",
      "resourceType":"resource"
    },
    {
      "path":"gui/",
      "resourceType":"gui"
    }
  ],
  "buildDirs":[],
  "compile":[
    {
      "path":"source/main.js",
      "sourceType":"mod"
    },
    {
      "path":"source/launcher.js",
      "sourceType":"launcher"
    }
  ],
  "nativeDirs":[],
  "javaDirs":[]
}