{
  "defaultConfig":{
    "api":"CoreEngine",
    "libraryDir":"lib/",
    "buildType":"develop"
  },
  "buildDirs":[
    {
      "dir":"dev/",
      "targetSource":"mod.js"
    },
    {
      "dir":"dev/preloader",
      "targetSource":"preloader.js"
    }
  ],
  "compile":[
    {
      "path":"mod.js",
      "sourceType":"mod"
    },
    {
      "path":"preloader.js",
      "sourceType":"preloader"
    },
    {
      "path":"launcher.js",
      "sourceType":"launcher"
    }
  ],
  "resources":[
    {
      "path":"res/",
      "resourceType":"resource"
    },
    {
      "path":"gui/",
      "resourceType":"gui"
    }
  ],
  "nativeDirs":[],
  "javaDirs":[]
}